# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private
web/sites/default/files/
*.sql

# dev docker compose
postgresql
sites/default/files/php
sites/default/files/css
sites/default/files/js
sites/default/files/languages
sites/default/files/translations

