@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Abril_Fatface.woff2) format('woff2'),
	url(../fonts/Abril_Fatface.woff) format ('woff'),
	url(../fonts/Abril_Fatface.ttf) format('truetype'),
	url(../fonts/Abril_Fatface.eot) format('embedded-opentype'),
	url(../fonts/Abril_Fatface.svg) format('svg');
}

