@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Alegreya-Italic.woff2) format('woff2'),
		url(../fonts/Alegreya-Italic.woff) format('woff'),
		url(../fonts/Alegreya-Italic.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-Italic.ttf) format('truetype');

}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Alegreya-Regular.woff2) format('woff2'),
		url(../fonts/Alegreya-Regular.woff) format('woff'),
		url(../fonts/Alegreya-Regular.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-Regular.ttf) format('truetype');

}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/Alegreya-MediumItalic.woff2) format('woff2'),
		url(../fonts/Alegreya-MediumItalic.woff) format('woff'),
		url(../fonts/Alegreya-MediumItalic.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-MediumItalic.ttf) format('truetype');

}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Alegreya-Medium.woff2) format('woff2'),
		url(../fonts/Alegreya-Medium.woff) format('woff'),
		url(../fonts/Alegreya-Medium.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-Medium.ttf) format('truetype');

}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/Alegreya-SemiBoldItalic.woff2) format('woff2'),
		url(../fonts/Alegreya-SemiBoldItalic.woff) format('woff'),
		url(../fonts/Alegreya-SemiBoldItalic.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-SemiBoldItalic.ttf) format('truetype');

}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Alegreya-SemiBold.woff2) format('woff2'),
		url(../fonts/Alegreya-SemiBold.woff) format('woff'),
		url(../fonts/Alegreya-SemiBold.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-SemiBold.ttf) format('truetype');

}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Alegreya-BoldItalic.woff2) format('woff2'),
		url(../fonts/Alegreya-BoldItalic.woff) format('woff'),
		url(../fonts/Alegreya-BoldItalic.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-BoldItalic.ttf) format('truetype');

}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Alegreya-Bold.woff2) format('woff2'),
		url(../fonts/Alegreya-Bold.woff) format('woff'),
		url(../fonts/Alegreya-Bold.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-Bold.ttf) format('truetype');

}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/Alegreya-ExtraBoldItalic.woff2) format('woff2'),
		url(../fonts/Alegreya-ExtraBoldItalic.woff) format('woff'),
		url(../fonts/Alegreya-ExtraBoldItalic.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-ExtraBoldItalic.ttf) format('truetype');

}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Alegreya-ExtraBold.woff2) format('woff2'),
		url(../fonts/Alegreya-ExtraBold.woff) format('woff'),
		url(../fonts/Alegreya-ExtraBold.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-ExtraBold.ttf) format('truetype');

}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Alegreya-BlackItalic.woff2) format('woff2'),
		url(../fonts/Alegreya-BlackItalic.woff) format('woff'),
		url(../fonts/Alegreya-BlackItalic.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-BlackItalic.ttf) format('truetype');

}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Alegreya-Black.woff2) format('woff2'),
		url(../fonts/Alegreya-Black.woff) format('woff'),
		url(../fonts/Alegreya-Black.eot) format('embedded-opentype'),
		url(../fonts/Alegreya-Black.ttf) format('truetype');

}


